.socials
  @apply flex items-center text-2xl
  color: var(--grey)
  &__item
    &:not(:last-child)
      margin-right: 20px
    a
      transition: all 500ms ease-in-out
      display: flex
      width: 30px
      height: 30px
      justify-content: center
      align-items: center
      svg
        display: block
        width: 100% !important
        height: 100%
      &:hover
        color: #fff
