.catalogHeader
  display: grid
  grid-template-columns: 100%
  grid-gap: 20px
  justify-content: space-between
  align-items: center
  margin-bottom: 59px
@screen lg
  .catalogHeader
    grid-template-columns: repeat(5,1fr)
