.inputWithIcon
  @apply flex justify-center items-center relative bg-white
  padding: 13px 15px
  font-weight: 600
  border: 1px solid #EDEDED
  border-radius: 2px
  transition: all 200ms ease-in-out
  text-transform: uppercase
  &__text
    @apply w-full
    display: block
    font-weight: 600
    border: none
    outline: none
    color: var(--grey)
  &__left
    .inputWithIcon__text
      padding-left: 23px
  &__right
    .inputWithIcon__text
      padding-right: 23px
      order: -1
  &__icon
    color: var(--blue)

